$0001a: "Risograph, which looks like a photocopier, on a drop cloth with stickers.";
$0002a: "Stack of cover pages with only the green flower design printed (no text yet)" ;
$0004a: "Pink and black book pages in the Risograph tray";
$0005a: "Piles of book pages on a colorful rug.";
$0006a: "A book being folded in a frame by a hand with a black and neon pink manicure.";
$0007a: "An open book being punched with an awl.";
$0008a: "An open book being sewn at the spine by a manicured hand.";
$0009a: "The tail end of binding thread being cut from a book.";
$0010a: "A book set in an industrial sized black paper cutter.";
$0011a: "Piles of books, one held by a manicured hand.";
$0012a: "Neat stacks of books lined up on a glass table.";
$0013a: "A book being numbered by a manicured hand with a gel pen.";