@font-face {
  font-family: "MonarchTitling";
  src: url("img/MonarchTitling.otf");
}

body {
  font-family: "Gill Sans MT", "arial", sans-serif;
  font-size: 12pt;
  background-color: #ffffff;
  color: #000000;
  width: 600px;
  text-align: center;
  padding-bottom: 100px;
  /*padding-left: 100px;*/
  margin: 0 auto; /* centers the content */
}

div.header {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

div.header .firstname {
  padding-bottom: 0px;
}

div.header div.lastname {
  color: #000000;
  font-family: "MonarchTitling", "Gill Sans MT", sans-serif;
  font-size: 34pt;
  margin-top: -15px; /* shift up */
  padding-left: 20px; /* shifted slightly since the kerning of the 'A' makes it look left-skewed */
}

div.bodycontent {
}

.intro {
  width: 280px;
  margin: 0 auto; /* centers the content */
  padding-bottom: 30px;
}

.sectionTitle {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 8px
}

.publine {
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 3px;
}
.pubDescription {
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.abstract {
  font-size: 10pt;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto; /* centers the content */
  margin-right: auto; /* centers the content */
  padding: 5px 15px 5px 15px;
  background-color: #EEE;
  width: 500px;
}
.abstract p {
  margin-top: 2px;
  margin-bottom: 10px;
}

.sublist {
  font-size: 11pt;
  /*background-color: #EEE;*/
  margin-top: 5px;
  margin-bottom: 30px;
}
.sublistLine {
  margin-top: 0px;
  margin-bottom: 2px;  /* space between sublist items */
}

.affiliation {
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 0px;
}

div.credit {
  font-size: 10pt;
  text-align: right;
  margin-left: 154px;
  width: 680px;
  padding: 5px 35px 0px 35px;
}

div.credit a:link { 
  color: #000000;
}

div.credit a:visited { 
  color: #000000;
}

a {
  text-decoration: none;
}

a:link { 
  color: #4EA9DE;
}

a:visited { 
  color: #4EA9DE;
}

a:hover { 
  color: #0A659A;
}

a:active { 
  color: #1371AE;
}

